*{
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: black;


}
.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color:white;
    font-family: 'Sen' , sans-serif;

}

.logo-container{
    flex: 1;
}

.logo{
    font-size: 30px;
    color: #4dbf00;
    text-shadow: 2px 2px 5px rgb(229, 245, 206);
   /*  text-shadow: 2px 2px; */


}

.menu-container{
    flex: 6;
}

.menu-list{
    display: flex;
    list-style: none;
}

.menu-list-item{
    margin-right: 30px;
}

.menu-list-item.active{
    font-weight: bold;
}

.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* profil tuşunun yanındaki barı en sağa hizaladık */
}

.profile-text-container{
    margin: 0 20px;
}

.profile-picture{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover; /* tam çember gorünümü */
}
.toggle{ /* darkmode */
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;; /* gece ve gündüz ikonlarını hizalamak için 
    justify-content: space-around*/
    position: relative;

}

.toggle-icon{
    color:goldenrod;
}

.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease all ;

}


.sidebar{ 
    width: 50px; 
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column; /* yandaki barın içindeki ikonları alt alta almaya çalışıyorum */
    align-items: center;
    padding-top: 60px;
    opacity: 1;
}

.left-menu-icon{
    color: white;
    font-size: 20px;
    margin-bottom: 40px;

}

.container{
    background-color: white ;
    min-height: calc(100vh-50px); /* ilk verdiğim değer 100vh idi fakat o zaman sayfanın tamamını siyah ekran kapladı */
    color: white;

}

.content-container{
    margin-left: 50px;
}

.featured-content{
    height: 50vh;
    /*background-color: tomato;  neresi olduğunu anlamak için koydum iç sayfanın navbarın altından sayfanın ortasına kadar olan alan*/
    /* background-size: cover;  sıgdıramadım */
    padding: 50px;
}

.featured-title{
    width: 200px;
}
.featured-desc{
    width: 500px;
    color: lightgray;
    margin: 30px 0; /* featured-title ile <p> arasındaki mesafeyi açalım */ 
}

.featured-button{
    background-color:#4dbf00;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;

}
.movie-list-container{
    padding:0 20px;
   /*  padding: 20px; */
    
}
.movie-list-wrapper{
    position: relative;
    overflow: hidden;
}

.movie-list{
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.movie-list-item{
    margin-right: 30px;
    position: relative;
    
}

.movie-list-item-title{
    /* margin-left: 60px; */
    padding-bottom: 10px;
    background-color: #333;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out ;
}


.movie-list-item-desc{
        padding: 10px;
        background-color: #333;
        font-size: 14px;
        position: absolute;
        top: 30%;
        left: 50px;
        width: 230px;
        opacity: 0.4;
        border-radius: 5px;;
        transition: 1s all ease-in-out ;
    
}

.movie-list-item-button{
    padding:10px;
    background-color: #4dbf00;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom:20px;
    left:50px;
    opacity: 0;
    transition: 1s all ease-in-out ;
    
}


.movie-list-item:hover .movie-list-item-img{ /* suedoclass kullandık */
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}

.movie-list-item:hover .movie-list-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-button{
    opacity: 1;
}


.movie-list-item-img{
    transition: all 1s ease-in-out; /* hover'ın ekranda gorünme süresi */
    width: 270px;
    height: 200px;
     object-fit: cover;
    /* margin-left: 60px; */
    border-radius: 20px;

    
}

.movie-list-title{
   margin-left: 60px;
   padding-bottom: 5px;
   padding-top: 0;
   padding-top: 45px;
   color: lightgray;
   /* background-color: #151515; */
   
}
.arrow{
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: lightgray;
    opacity: .5;
    cursor: pointer;
}

.container.active{
    background-color: white;

}
.movie-list-title.active{
    color: black;
}

 .navbar-container.active{
    background-color: white;
    color: black;
    margin-right: 300px;
 }
 
 .sidebar.active{
    background-color: white;
 }

 .left-menu-icon.active{
    color: black;
 }

 .toggle.active{
    background-color: black;
 }

 .toggle-ball.active{
    background-color: white;
    transform: translateX(-20px);
 }


 @media only screen and(max-width: 940px){
    .menu-container{
        display: none; /* menu container'ın gorunmesi için sayfanın en fazla 940px genislişğe sahip olması lazım */
    }
 }

 .row{
    display: flex;
    position:right;
    width: auto;
    padding: 1rem 3rem 1rem 3rem;
    border: none;
    margin-right: 0;
     /* background-attachment: fixed; */
    background-color: black; 
 }

 #kayitForm{
    padding: 70px;
    font-family: sans-serif;
  /*   border: none !important; */
   color:rgb(255, 255, 255);
   background-color: black;
 }

 .row{
    background-color: white;
 }

 .table{
    background-color: black;
   /*  width: 500px; */
 }

 .video-container {	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #333;
}
.video-container video {
    min-width: 100%;
	min-height: 100%;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}


 .video-container:after{ content: '';
        z-index: 1;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
    }
 